* { margin: 0; }

body {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.8em;
    text-align: center;
}

p, li { line-height: 1.2; }

.blue-bg {
    background: #0d2f81;
    color: #fff;
}

.blue-bg a {
    color: #fff;
    text-decoration: none;
}

.blue-bg a:hover { color: #ffe7aa; }

.blue-h1 { color: #0d2f81; }

.blue-h1 span { color: #000; }

.tan-bg {
    background: #ffe7aa;
    color: #000;
}

.tan-bg a {
    color: #000;
    text-decoration: none;
}

.tan-bg a:hover { color: #0d2f81; }

.tan-h1 { color: #ffe7aa; }

.tan-h1 span { color: #fff;}

.container {
    display: grid;
    grid-template-rows: auto 1fr 150px;
    margin: 0 auto;
    max-width: 1080px;
    min-height: 100vh;
    padding: 2rem;
}

.wide { max-width: 1280px;}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title img {
    width: 5rem;
    margin: 0.7rem 0.5rem 0;
}

.directory-links {
    font-size: 1.2em;
    list-style: none;
    padding-inline-start: 0;
}

.persona-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.persona-details img {
    border: 8px solid #000;
    margin: 1rem 2rem;
    max-width: 21rem;
}

.persona-details div { max-width: 650px; }

.user-story {
    align-self: center;
    max-width: 700px;
    margin: auto;
}

.use-case, .conceptual-model {
    align-self: center;
    margin-top: 1rem;
    text-align: left;
}

.entities-attributes {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.entities-attributes div {
    padding: 1rem;
}

.entities-attributes ul {
    list-style: none;
    padding-inline-start: 1rem;
}

.footer {
    display: grid;
    grid: "previous home next" / 1fr 3rem 1fr;
    column-gap: 1rem;
    margin-top: 2rem;
}

.home { grid-area: home; }

.next {
    grid-area: next;
    text-align: left;
}

.previous {
    grid-area: previous;
    text-align: right;
}

@media screen and (max-width: 400px) {
    body { font-size: 1.5em; }
    .persona-details img { max-width: 100%; }
}
